* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFEFE;
}

h2 {
    font-family: "Work Sans", sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #EC8D32;
}

ul.orange-bullets {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.orange-bullets li {
    position: relative;
    padding-left: 30px;
    text-transform: uppercase;
}

ul.orange-bullets li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: #EC8D32;
}

.josefin {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #181716;
    margin-bottom: 0;
}

.fa-ellipsis {
    color: #181716;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #181716;
    margin-bottom: 0;
}

.lexend {
    font-family: "Lexend Exa", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0;
}

.lexend span {
    text-transform: none;
    font-weight: 400;
}

.small {
    font-size: 10px;
}

.lexend.normal {
    color: #181716;
}

.lexend.orange {
    color: #EC8D32;
}

.light {
    font-family: "Lexend Exa", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #c7a275;
    text-transform: uppercase;
    text-align: right;
}

.bold {
    font-weight: 700;
}

.flex-title {
    display: flex;
    align-items: end;
}

.right {
    text-align: right;
}

.no-margin {
    margin-bottom: 0;
    transform: translateY(25%);
    font-weight: 600;
    letter-spacing: 5px;
}

a:hover {
    color: #549F62; /* New hover color */
}

.banner-flex {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 60px;
}

.download {
    display: flex;
    justify-content: center;
}

.heading-container {
    text-align: center;
}

.heading-full,
.heading-abbr {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 60px;
    color: #181716;
}

.line {
    width: 270px;
    height: 12px;
    background-color: #EC8D32;
    margin: 0 auto;
}

.line-small {
    width: 120px;
    height: 12px;
    background-color: #EC8D32;
    margin: 0 auto;
}

.button {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-wrap: avoid;
    width: 100%;
    color: #181716;
    padding: 10px;
    border: 3px solid #181716;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #181716;
    color: #FFA53F;
    cursor: pointer;
}

.education {
    background-color: #F7F3EE;
}

.skills {
    background-color: #EC8D32;
}

.picture {
    background-color: #602F00;
}

/*RESPONSIVITEIT*/

/**/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .orange.right {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .year {
        text-align: right;
    }
}

    @media screen and (max-width: 767px) {
    .orange.right {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .heading-abbr,
    .line-small {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .heading-full,
    .line {
        display: none;
    }
}

