* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/ /*troubleshooting help lines*/
}

body {
    background-color: #FFFEFE;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body p,
body ul li {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #181716;
}

body p.bold {
    font-weight: 700;
}

a {
    color: #EC8D32;
}

a:hover {
    color: #549F62; /* New hover color */
}

/*======================================================================*/

.top-banner {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #181716;
    color: #F7F3EE;
    height: 111px;
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header__logo,
.header__empty-space {
    width: 60px;
}

.header__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__button {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #F7F3EE;
    text-decoration: none;
    transition: color 0.3s;
    padding: 20px 40px;
}

.header__button:hover {
    color: #FFA53F;
}

.header__button.active {
    color: #FFA53F;
}

.menu__link.active {
    color: #EC8D32;
}

/*=========*/

.main {
    max-width: 100vw;
    margin: 100px auto 20px;
}

/* hero shapes */

.hero {
    position: relative;
    width: 100vw;
}

.hero__gif {
    width: 100%;
    object-fit: cover;
}

.hero__shapes {
    position: absolute;
    top: 110px;
    left: 0;
    width: 30vw;
    height: 30vw;
}

.shape {
    position: absolute;
    border-radius: 50%;
}

.large-gradient {
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    background: linear-gradient(135deg, #181716, #EC8D32);
    mix-blend-mode: overlay;
    top: 40%;
    left: 115%;
    animation: float-rotate-0 16s linear infinite;
}

@keyframes float-rotate-0 {
    0%, 100% {
        transform: translate(0px, 0px) rotate(0);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    25% {
        transform: translate(10px, 5px) rotate(30deg);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    50% {
        transform: translate(5px, 15px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    75% {
        transform: translate(-5px, 5px) rotate(-30deg);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
}

.small-ora-overlay {
    width: 3.6vw;
    height: 3.6vw;
    background-color: #FFA53F;
    mix-blend-mode: overlay;
    top: 20%;
    left: 195%;
    animation: float-rotate-0 8s linear infinite;
}

.small-red-burn {
    width: 3.6vw;
    height: 3.6vw;
    background-color: #B7370E;
    mix-blend-mode: color-dodge;
    top: 38%;
    left: 185%;
    animation: float-rotate-2 11s linear infinite;
}

.small-ora-burn {
    width: 3.6vw;
    height: 3.6vw;
    background-color: #FFA53F;
    mix-blend-mode: color-burn;
    top: 70%;
    left: 190%;
    rotate: -90deg;
    animation: float-rotate-3 14s linear infinite;
}

/*===*/

.banner-img {
    width: 100%;
    object-fit: cover;
}

.nav__socialbar {
    position: fixed;
    top: 225px;
    right: 20px;
    transform: translateY(-50%);
    list-style-type: none;
    z-index: 100;
}

.nav__socialbar__item {
    margin-bottom: 15px;
}

.nav__socialbar__item a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #181716;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    color: #FFA53F;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav__socialbar__item a:hover {
    background-color: #FFA53F;
    color: #181716;
}



/*==============================*/
/*==========SCROLL==============*/
/*==============================*/

.scroll-up-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #181716;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #FFA53F;
    text-decoration: none;
    transition: background-color 0.3s;
    z-index: 100;
}

.scroll-up-button:hover {
    background-color: #FFA53F;
    color: #181716;
}


/* FOOTER */
/*=========*/

.footer {
    position: relative;
    background-color: #181716;
    color: #F7F3EE;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer__row {
    display: flex;
    align-items: center;
}

.footer__button {
    margin: 0 10px;
}

.footer__button__style {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #F7F3EE;
    border: 2px solid #F7F3EE;
    background: none;
    width: 220px;
    height: 50px;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}

.footer__button__style:hover {
    color: #FFA53F;
    border-color: #FFA53F;
}

.footer__icon {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    color: #F7F3EE;
    font-size: 24px;
    transition: color 0.3s;
}

.footer__icon:hover {
    color: #FFA53F;
}

.footer__copyright {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #F7F3EE;
}

/*==========*/
/* HEADING */

.heading-container {
    position: relative;
    padding: 120px 0 40px;
    text-align: center;
}

.heading {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 80px;
    color: #181716;
    margin-bottom: 20px;
}

.line {
    width: 270px;
    height: 24px;
    background-color: #EC8D32;
    margin: 0 auto;
}

/* Dots alternative
.ellipsis {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.dot {
    width: 24px;
    height: 24px;
    background-color: #EC8D32;
    border-radius: 50%;
    margin: 0 10px;
}*/


/*========== GRID ==============*/
.container-fluid {
    padding: 0;
}

.colored-shape {
    width: 100%;
    padding-bottom: 56.25%; /* to create a 16:9 aspect ratio */
    position: relative;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
}

.clickable .colored-shape {
    cursor: pointer;
}

.shape-1 {
    /*background-color: #602F00;*/
    background-image: url('assets/img/endcard-placeholder.png');
}

.shape-2 {
    background-color: #B7370E;
    /*background-image: url('path-to-gif/shape2.gif');*/
}

.shape-3 {
    background-color: #F07357;
    /*background-image: url('path-to-gif/shape3.gif');*/
}

.shape-4 {
    background-color: #EC8D32;
    /*background-image: url('path-to-gif/shape4.gif');*/
}

.shape-5 {
    background-color: #FFA53F;
    /*background-image: url('path-to-gif/shape5.gif');*/
}

.shape-6 {
    background-color: #549F62;
    /*background-image: url('path-to-gif/shape6.gif');*/
}

.shape-7 {
    background-color: #ACCF97;
    /*background-image: url('path-to-gif/shape7.gif');*/
}

.shape-8 {
    background-color: #F7F3EE;
    /*background-image: url('path-to-gif/shape8.gif');*/
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.overlay:hover {
    opacity: 1;
}

.overlay-shape {
    width: 25%;
    padding-top: 2%;
    background-color: #B7370E;
    position: absolute;
    top: 46%;
    left: 35%; /* for slide in animation */
    transform: translate(-50%, -50%);
    opacity: 0; /* Start opacity */
    transition: left 0.5s ease, opacity 0.5s ease;
}

/* line animation */
.overlay:hover .overlay-shape {
    left: 50%; /* Slide in from the left on hover */
    opacity: 1; /* Fade in the opacity on hover */
}

.overlay-title {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #F7F3EE;
    z-index: 1;
}

.overlay-paragraph {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #F7F3EE;
    text-align: center;
    padding: 0 20px;
}

/* INFO CARD SECTION */


.info-box {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 1800px;
}

.background-shape img {
    width: 170%;
    height: 86%;
    transform: translate(-17%, 15%);
    padding: 40px 0;
}

.card-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.card {
    display: flex;
    justify-content: center;
    background-color: #F7F3EE;
    border: 4px solid #181716;
    box-shadow: 12px 18px 0 #FFFEFE;
    max-width: 100%;
    padding: 0 80px;
}

.circle-col,
.dots-col,
.text-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.dots-col {
    flex: auto;
    min-width: 80px;
}

.circle-col,
.text-col {
    padding: 40px 80px;
    flex: 1;
}

.overlaying-container {
    position: relative;
}

.overlaying-circle {
    width: 532px;
    height: 532px;
    border-radius: 50%;
    border: 4px solid #181716;
    position: absolute;
    top: -15px;
    left: -15px;
}

/*=== DOTS ===*/

.circle-shape {
    position: absolute;
    border-radius: 50%;
}

.circle-shape.circle-shape-1 {
    width: 21px;
    height: 21px;
    border: 3px solid #181716;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%) translate(4px, 4px);
}

.circle-shape.circle-shape-1-fill {
    width: 21px;
    height: 21px;
    background-color: #549F62;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.circle-shape.circle-shape-2 {
    width: 35px;
    height: 35px;
    border: 4px solid #181716;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%) translate(-4px, -4px);
}

.circle-shape.circle-shape-2-fill {
    width: 35px;
    height: 35px;
    background-color: #EC8D32;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
}

.circle-shape.circle-shape-3 {
    width: 30px;
    height: 30px;
    border: 4px solid #181716;
    top: 60%;
    left: 70%;
    transform: translate(-40%, -60%) translate(2px, -2px);
}

.circle-shape.circle-shape-3-fill {
    width: 30px;
    height: 30px;
    background-color: #B7370E;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.cv-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 120px;
    height: 120px;
    display: inline-block;
    position: relative;
    bottom: 40px;
    transform: translateX(-50%);
}

.card-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 64px;
    font-weight: 500;
    color: #EC8D32;
    margin-bottom: 20px;
}

.card-button,
.unstyled-button {
    display: block;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #181716;
    padding: 10px 0;
    border: 3px solid #181716;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.text-col a {
    text-decoration: none;
}

.text-col .card-button,
.unstyled-button {
    width: 320px;
    margin-top: 70px;
}

.custom-text .card-button {
    width: 100%;
    margin-top: 20px;
}

.card-button:hover,
.unstyled-button:hover {
    background-color: #181716;
    color: #FFA53F;
    cursor: pointer;
}


/* CIRCLE BANNER VERSION */

.banner {
    position: relative;
    margin: 50px auto;
    text-align: center;
}

.shape-container {
    position: relative;
    overflow: hidden;
}

.rectangular-bg {
    position: relative;
    width: 100%;
    height: 284px;
    background-color: #EC8D32;
}

.banner-text {
    position: absolute;
    top: 30%;
    left: 50%;
    display: flex;
    flex-direction: column;
}

.contact-bottom {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 120px;
    font-weight: 900;
    color: #EC8D32;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-shadow: /*create outlines*/ -2px -2px 0 #F7F3EE, /* Top-left */ 2px -2px 0 #F7F3EE, /* Top-right */ -2px 2px 0 #F7F3EE, /* Bottom-left */ 2px 2px 0 #F7F3EE; /* Bottom-right */
}

.contact-top {
    position: absolute;
    transform: translate(-50%, -40%);
    z-index: 2;
}

.mail-button {
    position: absolute;
    transform: translate(-50%, 180%);
    z-index: 3;
}

.mail-button button {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-weight: normal;
    color: #181716;
    background: none;
    border: none;
    cursor: pointer;
}

.mail-button span {
    font-family: "Josefin Slab", sans-serif;
    font-weight: 700;
    color: #F7F3EE;
}

.mail-button button:hover {
    text-decoration: underline;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: none;
    z-index: 1;
}

.circle-1 {
    width: 512px;
    height: 512px;
    border: 2px solid #181716;
    left: 50%;
    transform: translate(-50%, -20%);
}

.circle-2 {
    width: 872px;
    height: 872px;
    border: 6px solid #181716;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(-50px, -40px);
}

.circle-3 {
    width: 1036px;
    height: 1036px;
    border: 4px solid #181716;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(40px, 20px);
}

.circle-4 {
    width: 91px;
    height: 91px;
    border: 6px solid #181716;
    top: calc(50% + 80px);
    left: 50%;
    transform: translate(-50%, -50%) translateX(-600px);
}

.circle-5 {
    width: 32px;
    height: 32px;
    border: 2px solid #181716;
    background-color: #F7F3EE;
    top: calc(50% - 20px);
    left: 50%;
    transform: translate(-50%, 40%) translateX(500px);
}

.circle-6 {
    width: 48px;
    height: 48px;
    background-color: #181716;
    top: calc(50% - 20px);
    left: 50%;
    transform: translate(-50%, -100%) translateX(700px);
}

.circle-7 {
    width: 24px;
    height: 24px;
    background-color: #181716;
    top: calc(50% - 20px);
    left: 50%;
    transform: translate(-50%, -50%) translateX(-400px);
}

.circle-8 {
    width: 12px;
    height: 12px;
    background-color: #F7F3EE;
    top: calc(50% - 10px);
    left: 50%;
    transform: translate(-50%, -50%) translateX(-700px);
}

/*======================================*/

/* Instagram gallery */

.gallery {

}

.gallery-item {
    /*margin-bottom: 10px;*/
    position: relative;
}

.gallery-icon {
    width: 100%;
    padding: 50%; /*squares*/
    border: 1px solid #181716;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background-color 0.3s;
}

#ig-post-01 {
    background-image: url("assets/img/IG/IG_labullshat.png");
}

#ig-post-02 {
    background-image: url("assets/img/IG/IG_ae-endcard-gold.png");
}

#ig-post-03 {
    background-image: url("assets/img/IG/IG_ae-glasspig.png");
}

#ig-post-04 {
    background-image: url("assets/img/IG/IG_squatters-comic.png");
}

#ig-post-05 {
    background-image: url("assets/img/IG/IG_pubg-poster.png");
}

#ig-post-06 {
    background-image: url("assets/img/IG/IG_fah-loki.png");
}

#ig-post-07 {
    background-image: url("assets/img/IG/IG_ae-endcard.png");
}

#ig-post-08 {
    background-image: url("assets/img/IG/IG_mograph.png");
}

#ig-post-09 {
    background-image: url("assets/img/IG/IG_watchparty.png");
}

#ig-post-10 {
    background-image: url("assets/img/IG/IG_fahlogo.png");
}

.gallery-icon:hover {
    background-color: rgba(236, 141, 50, 0.8); /* Semi-transparent orange on hover */
}

.gallery-icon i {
    color: #F7F3EE;
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.gallery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.gallery-item:hover .gallery-overlay {
    opacity: 1;
    cursor: pointer;
}

.gallery-text {
    text-align: center;
    padding: 20px;
}

.gallery-text h3 {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #F7F3EE;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.gallery-text p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #F7F3EE;
}

.gallery-link {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #FFA53F;
    text-decoration: none;
    margin-top: 10px;
}

/*==========================*/
/*==========================*/
/* ABOUT */
/*==========================*/

.section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section1 .column {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.image-column {
    flex: .7;
    margin: 0;
    position: relative;
    overflow: hidden;
    background-image: url(assets/img/profile-pic-large.webp);
    background-size: auto 100%;
    background-position: top;
}

.text-overlay {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.3);
}

.text-overlay p {
    color: #F7F3EE;
    font-size: 16px;
    text-align: right;
    margin: 0;
    width: 100%;
}

.circle-shapes {
    flex: .1;
}

.section1 .empty-space {
    flex: .2;
}

.about-text-column {
    flex: 1;
}

.article-title {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    margin-bottom: 0;
    padding-left: 20px;
}

.cv-button-container {
    position: absolute;
    right: 20px;
}


.article-title span {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 60px;
    color: #181716;
    padding-left: 20px;
}

.article-subtitle {
    display: flex;
    flex-wrap: wrap;
    font-family: "Legend Exa", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #F7F3EE;
    background-color: #EC8D32;
    padding: 10px 20px;
    margin: 10px 0;
}

.article-subtitle span {
    color: #181716;
    padding-left: 20px;
}

.about-me-article {
    padding: 0 20px;
    margin: 40px auto;
}

.about-me-article p span {
    color: #EC8D32;
}

/* DOTS ANIMATION */

.circle-shape-1-combo,
.circle-shape-2-combo,
.circle-shape-3-combo {
    display: flex;
    top: 80px;
    margin: 150px 20px;
}

.circle-shape-1-combo {
    position: relative;
    left: -20px;
    animation: float-rotate-1 12s linear infinite;
}

.circle-shape-2-combo {
    position: relative;
    left: 40px;
    animation: float-rotate-2 16s linear infinite;
}

.circle-shape-3-combo {
    position: relative;
    animation: float-rotate-3 24s linear infinite;
}

.cv-button img {
    position: relative;
    animation: rotate-360 16s linear infinite;
}

@keyframes rotate-360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes float-rotate-1 {
    0%, 100% {
        transform: translate(0px, 0px) rotate(0);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    25% {
        transform: translate(-30px, 20px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    50% {
        transform: translate(30px, 40px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    75% {
        transform: translate(60px, 10px) rotate(-90deg);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
}

@keyframes float-rotate-2 {
    0%, 100% {
        transform: translate(0px, 0px) rotate(0);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    35% {
        transform: translate(5px, -20px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    65% {
        transform: translate(-10px, -20px) rotate(45deg);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
}

@keyframes float-rotate-3 {
    0%, 100% {
        transform: translate(0px, 0px) rotate(0);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    25% {
        transform: translate(-30px, 10px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    50% {
        transform: translate(30px, 20px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    75% {
        transform: translate(30px, 10px) rotate(-90deg);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
}


/*===*/

/* Logo banner */

.section2 .flex-container {
    display: flex;
    justify-content: center;
    background-color: #EC8D32;
}

.logo-banner {
    display: flex;
    max-width: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo-banner .item {
    margin: 20px;
}

.logo-banner img {
    max-width: 100%;
    height: auto;
}


/* section 3 what do i do */

.section3 {
    display: flex;
    justify-content: center;
}

.section3 .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

img.diagram {
    max-width: 100%;
    height: auto;
}

.green {
    background-color: #ACCF97;
}

.column .card-button {
    width: 100%;
    margin-top: 60px;
}

/* video section */

.video-section {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
}

.video-placeholder {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.video-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #FFA53F;
    color: #181716;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.video-button:hover {
    background-color: #181716;
    color: #FFA53F;
}

/*===============*/
/* Feedback section */

.text-blocks-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
}

.text-block {
    width: 25%;
    padding: 40px;
    background-color: #181716;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.block-title, .block-subtitle {
    text-align: center;
}

.block-title {
    color: #FFA53F;
    font-size: 24px;
}

.block-subtitle {
    color: #F7F3EE;
    font-size: 14px;
    font-family: 'Lexend Exa', sans-serif;
    text-transform: uppercase;
    margin: 20px 0;
}

.block-text {
    font-size: 18px;
    color: #F7F3EE;
}

.icon {
    /*width: 40px;
    height: 40px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}


/*==========================*/
/*==========================*/
/* CONTACT */
/*==========================*/

.container-contact {
    display: flex;
}

/* aside */

aside {
    width: 400px;
    padding-left: 140px;
    margin-top: 140px;
}

aside h3 {
    font-family: "Lexend Exa", sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    border-right: 10px solid #EC8D32;
    padding-right: 10px;
    text-align: right;
    margin-top: 40px;
}

aside .h4-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px auto 20px;
}

aside h4 {
    font-family: "Lexend Exa", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: right;
    margin-top: 20px;
}

aside .h4-line {
    width: 50px;
    height: 2px;
    background-color: #181716;
}

aside ul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

aside ul li {
    font-family: "Lexend Exa", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #EC8D32;
}

aside ul li span {
    color: #181716;
}

.adobe-icons {
    width: 62%;
    margin-left: 5px;
}

aside p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
}

aside .cv-button {
    top: 40px;
    left: 160px;
}

/*main*/

/*.card-title {
    margin-top: 80px;
    margin-left: 80px;
}*/

.contact-text {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 80px;
}

.contact-text-col {
    margin-bottom: 20px;
    min-width: 400px;
    flex: 3;
}

.petri-col {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
}

.petri-overlaying-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid #181716;
    position: absolute;
    top: -15px;
    left: -15px;
}

.petri-col .overlaying-container img {
    max-width: 300px;
    height: auto;
}

.contact-form {
    width: 100%;
    max-width: 810px;
    margin: 80px auto;
}

.custom-form {
    width: 100%;
}

.form-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFEFE;
    padding: 10px;
}

.form-id {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

label[for="name"],
label[for="email"],
label[for="message"] {
    display: none;
}

#name, #email, #message {
    background-color: #F7F3EE;
    border: 4px solid #181716;
    padding: 5px;
    margin: 5px 0;
}

#message {
    width: 100%;
    /*height: 240px;*/ /*changed from 5 to 10 rows instead*/
}

.name-box,
.email-box {
    flex: 1;
}

#name,
#email {
    width: 100%;
}

.form-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-background-shape img {
    width: 100%;
    height: 80%;
    transform: translate(5%, 5%);
}

/*==========================*/
/*==========================*/
/* PORTFOLIO */
/*==========================*/

.custom-row {
    border: 20px solid;
    display: flex;
    flex-wrap: wrap;
}

.custom-row:nth-child(odd) {
    background-color: #F7F3EE;
    border-color: #F7F3EE;
    color: #181716;
}

.custom-row:nth-child(odd) h2 {
    color: #EC8D32;
}

.custom-row:nth-child(even) {
    background-color: #181716;
    border-color: #181716;
    color: #F7F3EE;
    text-align: end;
}

.custom-row:nth-child(even) p {
    color: #F7F3EE;
}

.custom-row:nth-child(even) h2 {
    color: #FFA53F;
}

.reverse {
    color: #F7F3EE;
    border: 3px solid #F7F3EE;
}

.reverse:hover {
    background-color: #F7F3EE;
    color: #B7370E;
    font-weight: 600;
    cursor: pointer;
}

.custom-image {
    object-fit: cover;
    width: 100%;
    overflow: hidden;
}

.custom-text {
    padding: 60px;
}

h1.portfolio {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
}

h2.portfolio {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.portfolio-text {
    height: auto;
    max-height: 210px;
    overflow: hidden;
}

.portfolio-project {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/*PORTFOLIO AFBEELDINGEN HIER*/

#img-01 {
    background-image: url('assets/img/gs-1/Evers_Heleen_Zalando.webp');
}

#img-02 {
    background-image: url('assets/img/gs-1/EversHeleenDVO-Animation.gif');
}

.small-scr-img img {
    width: 100%;
    padding: 10px 0;
}

/* PROJECT PAGES */
/*==========================*/


.container-portfolio {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: flex-start;
    margin: 80px auto 180px;
}

.portfolio-aside {
    margin-top: 40px;
    margin-left: 40px;
}


.portfolio-subtitle {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.portfolio-subtitle h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.portfolio-aside h4 {
    font-family: "Lexend Exa", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #EC8D32;
}

/* h1 style */
.container-portfolio h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    font-weight: 400;
}

/* h2 style */
.container-portfolio h2 {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #EC8D32;
    margin-bottom: 40px;
}

/* h3 style */
.container-portfolio h3 {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
}

/*button link*/
a.portfolio-button {
    text-decoration: none;
    color: inherit;
}

.portfolio-images {
    display: flex;
    align-items: center;
    justify-content: center ;
}

.grid-section img {
    max-width: 100%;
}

/*==============================*/
/*==============================*/
/*======= RESPONSIVITEIT =======*/
/*==============================*/
/*==============================*/

/*XL - DESKTOP & LAPTOP*/
/*default*/
@media screen and (min-width: 1200px) {
    .nav__toggle,
    .nav__overlay,
    .nav__checkbox,
    .info-box-alt {
        display: none;
    }

}

/*LG - DESKTOP & LAPTOP*/
@media screen and (max-width: 1199px) {
    .top-banner {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav__toggle,
    .header__logo {
        display: block;
        padding: 20px 0;
        cursor: pointer;
    }

    .nav__items,
    .header__empty-space,
    .overlay-shape {
        display: none;
    }

    /*hamburger menu will be functional with added javascript, see WPL 2*/
    /*slide out menu*/

    .nav__checkbox:checked + #nav-overlay {
        right: 0;
    }

    .nav__overlay {
        position: fixed;
        top: 0;
        right: -510px;
        width: 510px;
        height: 100%;
        background-color: #FFFEFE;
        z-index: 1000;
        overflow-y: auto;
        transition: right 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 120px;
    }

    .menu__list {
        list-style: none;
        margin-top: 200px;
        padding-left: 0;
    }

    .menu__items {
        display: flex;
        flex-direction: column;
    }

    .menu__item {
        margin: 0;
    }

    .menu__link {
        font-family: 'Lexend Exa', sans-serif;
        font-size: 40px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 40px 0;
        text-decoration: none;
        color: #181716;
        display: block;
        transition: color 0.3s;
    }

    .menu__link:hover,
    .close-icon:hover {
        color: #EC8D32;
    }

    .close-icon {
        padding: 60px 0;
        cursor: pointer;
        color: #181716;
    }

    /*================*/
    /*nav {
        display: none;
    }*/

    .nav__socialbar {
        top: 110px;
    }

    .main {
        margin: 160px auto 0;
    }

    /*--------------------------*/
    .container-fluid {
        padding: 0 20px;
    }

    .info-box {
        display: none;
    }

    .info-box-alt {
        margin: 40px auto;
    }

    .picture-col {
        display: flex;
        justify-content: center;
    }

    .info-box-alt .card-button {
        margin: 40px auto 0;
        width: 100%;
    }

    .info-box-alt img {
        object-fit: cover;
        border: 4px solid #181716;
    }

    .overlay,
    .gallery-overlay {
        opacity: 1;
    }

    /**/
    /*CONTACT PAGE*/
    .container-contact {
        flex-direction: column-reverse;
    }

    .contact-text {
        margin: 40px;
        padding: 0 40px;
    }

    .contact-text-col {
        padding-top: 40px;
    }

    .contact-aside {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 0 40px;
        margin-top: 40px;
    }

    .h4-line {
        display: none;
    }

    .petri-col {
        display: none;
    }

    /**/
    /*ABOUT PAGE*/

    .section1 .image-column,
    .circle-shapes,
    .section1 .empty-space {
        display: none;
    }

    .about-me-article p {
        padding: 0 120px;
    }

    .article-title,
    .article-subtitle {
        padding-left: 120px;
    }

    .section3 {
        flex-direction: column;
    }

    img.diagram {
        max-width: 80%;
    }

    .text-blocks-section {
        flex-wrap: wrap;
        /*flex-direction: column;*/
        align-items: center;
    }

    .text-block {
        width: 80%;
    }

    /**/
    /*PORTFOLIO PAGES*/

    .container-portfolio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 80px auto 180px;
    }

    .portfolio-aside {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
        margin-left: 0;
    }

    .scope,
    .credit {
        padding: 0 20px;
    }


}

/*MD - TABLET LANDSCAPE*/
@media screen and (min-width: 768px) and (max-width: 991px) {

    /**/
    /*PORTFOLIO PAGE*/
    .hero,
    .title {
        display: none;
    }

    .band {
        flex-direction: column;
    }

    .portfolio-aside {
        justify-content: start;
    }



    /**/
    /*ABOUT PAGE*/

    .cv-button-container {
        display: none;
    }


}

/*MD and up*/
@media screen and (min-width: 768px) {

    /**/
    /*PORTFOLIO PAGE*/
    .small-scr-img {
        display: none;
    }

    .card-title br,
    .article-subtitle br {
        display: none;
    }

    /*PORTFOLIO PAGES*/

}

/*SM - TABLET PORTRAIT*/
@media screen and (max-width: 767px) {

    .footer {
        height: auto;
        padding-top: 15px;
    }

    .footer-buttons {
        flex-direction: column;
        align-items: center;
    }

    .footer__button {
        margin: 10px 0;
    }

    /**/
    /*PORTFOLIO PAGE*/
    .custom-row:nth-child(even) {
        text-align: start;
    }

    .portfolio-aside {
        justify-content: start;
    }



    /**/
    /*CONTACT PAGE*/
    .contact-aside {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 40px auto;
    }

    .dots-col {
        display: none;
    }

    /**/
    /*ABOUT PAGE*/

    .cv-button-container {
        display: none;
    }




}

/*XS - SMARTPHONE*/
@media screen and (max-width: 575px) {

    /**/
    /*PORTFOLIO PROJECT PAGE*/


    /*CONTACT PAGE*/
    .contact-aside {
        flex-direction: column;
        align-items: end;
        text-align: end;
        margin-right: 160px;
        /*padding: 0 80px;*/
    }

    .adobe-icons {
        display: none;
    }

    .contact-languages {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .contact-languages img {
        right: 170px;
    }

    .contact-text-col {
        width: 80vw;
        margin: 0 auto;
        padding: 0 80px;
    }

    /*ABOUT PAGE*/

    .article-title span {
        padding-left: 0;
    }




}
